In [1]:
import pandas as pd

daily_df = pd.read_csv("data/daily_report.csv")

daily_df

daily_df[Country_Region]

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-08-19 04:27:47,33.939110,67.709953,37599,1375,27166,9058.0,Afghanistan,96.585159,3.657012
1,NaN,NaN,NaN,Albania,2020-08-19 04:27:47,41.153300,20.168300,7654,232,3871,3551.0,Albania,265.967058,3.031095
2,NaN,NaN,NaN,Algeria,2020-08-19 04:27:47,28.033900,1.659600,39444,1391,27653,10400.0,Algeria,89.949970,3.526519
3,NaN,NaN,NaN,Andorra,2020-08-19 04:27:47,42.506300,1.521800,1005,53,869,83.0,Andorra,1300.718307,5.273632
4,NaN,NaN,NaN,Angola,2020-08-19 04:27:47,-11.202700,17.873900,1966,90,667,1209.0,Angola,5.981817,4.577823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3942,NaN,NaN,NaN,West Bank and Gaza,2020-08-19 04:27:47,31.952200,35.233200,17306,113,9939,7254.0,West Bank and Gaza,339.239145,0.652953
3943,NaN,NaN,NaN,Western Sahara,2020-08-19 04:27:47,24.215500,-12.885800,10,1,8,1.0,Western Sahara,1.674116,10.000000
3944,NaN,NaN,NaN,Yemen,2020-08-19 04:27:47,15.552727,48.516388,1889,537,1052,300.0,Yemen,6.333407,28.427740
3945,NaN,NaN,NaN,Zambia,2020-08-19 04:27:47,-13.133897,27.849332,9981,264,8776,941.0,Zambia,54.291905,2.645026
3946,NaN,NaN,NaN,Zimbabwe,2020-08-19 04:27:47,-19.015438,29.154857,5378,141,4105,1132.0,Zimbabwe,36.183990,2.621792